# Database
DATABASE_URL="postgresql://postgres:docker@localhost:5432/portfolio?schema=public"

# API Routes
NEXT_PUBLIC_API_URL=http://localhost:3000/api

# Google Tag Manager
GOOGLE_TAG_ID=GTM-XXXXXXXX

# GitHub Auth
ALLOWED_EMAIL="johndoe@example.com"
NEXTAUTH_SECRET="gere-uma-string-aleatoria-bem-segura-aqui"
NEXTAUTH_GITHUB_ID="seu_client_id_do_github"
NEXTAUTH_GITHUB_SECRET="seu_client_secret_do_github"

# Cloudflare R2 / MinIO Local
CLOUDFLARE_ENDPOINT="http://localhost:9000"
CLOUDFLARE_ACCESS_KEY_ID="admin"
CLOUDFLARE_SECRET_ACCESS_KEY="password123"
CLOUDFLARE_BUCKET_NAME="portfolio"
CLOUDFLARE_PUBLIC_URL="http://localhost:9000/portfolio"